<div class="container ">
    <div class="search-div">
        <mat-form-field class="search-form-field" floatLabel="never">
            <input matInput [(ngModel)]="searchKey" placeholder="Search" autocomplete="off" (keyup)="applyFilter()">
            <button mat-button matSuffix mat-icon-button aria-label="Clear"*ngIf="searchKey"  (click)="onSearchClear()">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
          </div>
    
    <div class="mat-elevation-z8">
        <mat-table [dataSource]="ListData" matSort>
            <ng-container matColumnDef="clientName">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Client Name</mat-header-cell>
              <mat-cell *matCellDef="let element"><div style="  font-weight: bold">{{element.name}}</div></mat-cell>
            </ng-container>
      
        <ng-container matColumnDef="email">
            <mat-header-cell *matHeaderCellDef mat-sort-header>email</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.email}}</mat-cell>
          </ng-container>
         
          <ng-container matColumnDef="profilePhoto">
            <mat-header-cell *matHeaderCellDef mat-sort-header>profilePhoto</mat-header-cell>
            <mat-cell class="margin" *matCellDef="let element"><img width="70%"
                height="50%"[src]="element.image" style="margin-top: 10%;margin-bottom: 10%;border-radius: 50%;"></mat-cell>
          </ng-container>
          <ng-container matColumnDef="point">
            <mat-header-cell *matHeaderCellDef mat-sort-header>points</mat-header-cell>
            <mat-cell *matCellDef="let element"><div style="font-size:small ;font-family: 'Times New Roman', Times, serif; color: grey;">{{element.point}}</div></mat-cell>
          </ng-container>
          <ng-container matColumnDef="rank">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Ranking</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.rank}}</mat-cell>
          </ng-container>
         
         
          <ng-container matColumnDef="actions">
            <mat-header-cell *matHeaderCellDef></mat-header-cell>
            <mat-cell *matCellDef="let row">
              <button mat-icon-button color="warn" (click)="onDelete(row.id)"><mat-icon>delete_outline</mat-icon></button>
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="loading">
            <mat-footer-cell *matFooterCellDef colspan="6">
              Loading data...
            </mat-footer-cell>
          </ng-container>
          <ng-container matColumnDef="noData">
            <mat-footer-cell *matFooterCellDef colspan="6">
              No data.
            </mat-footer-cell>
          </ng-container>
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            <mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide':ListData!=null}"></mat-footer-row>
            <mat-footer-row *matFooterRowDef="['noData']" [ngClass]="{'hide':!(ListData!=null && ListData.data.length==0)}"></mat-footer-row>
        </mat-table>
        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="3" showFirstLastButtons></mat-paginator>
    </div>
    </div>