<mat-sidenav-container >
    <mat-sidenav class="container" #sidenav mode="side" opened="true" style="position: fixed;">
      <mat-nav-list>
  
        <mat-list-item style="margin-top: 20%; margin-bottom:20%;">
          <img src="../../../assets/logov2.png" width="100%">
        </mat-list-item>
        <mat-list-item >
            <div class="col-md-12 text-center">
                <button type="button" class="btn btn-outline-warning" >SING OUT</button>

            </div>
          </mat-list-item>
          
        <mat-list-item  class="item-link" [routerLink]="'home'">
            <img src="../../../assets/home.svg" height="50%">
          <span class="margin" *ngIf="isExpanded">Home Main</span>
        </mat-list-item>
        <mat-list-item  class="item-link" [routerLink]="'shops'">
            <img src="../../../assets/shop.svg" height="50%">
         <span class="margin" *ngIf="isExpanded">Shops</span>
       </mat-list-item>
       <mat-list-item class="item-link" [routerLink]="'product'">
        <img src="../../../assets/product.svg" height="50%">
      
     <span class="margin" *ngIf="isExpanded">Products</span>
   </mat-list-item>
     


        
        
  
      </mat-nav-list>
    </mat-sidenav>
  
    <div class="content">
    
      <router-outlet></router-outlet>
    </div>
  
</mat-sidenav-container>
